<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>DreamCanvas</title>
</head>
<body>
   <div class="hero-image">
        <div class="hero-text">
            <h1>Welcome to DreamCanvas</h1>
            <p>Record and analyse your dreams.</p>
        </div>
    </div>

    <div class="container">
        <p>This is the login page.</p>
        <p>
            <a href="/dashboard">Go to Dashboard</a><br>
            <a href="/record">Go to Record Dream</a><br>
            <a href="/atlas">Go to Dream Atlas</a>
        </p>
    </div>

    <footer>
        <p>&copy; DreamCanvas</p>
    </footer>
</body>
</html>
